
<p>This is Good Governance app for state</p>
<h3>{{state.name}}</h3>

<table style="width:1200px" bgcolor="#F7F78D" border="1">
<tr>
  <td>Id</td>
  <td>Constituency</td>
  <td>Candidate</td> 
  <td>Party</td>   
</tr>


{% if state_const %}
    <ul>
    {% for const in state_const %}
        <tr>
        <td>{{const.id}}</td>
  			<td>{{const.name}}</td>
  			<td>{{const.candidate}}</td>   
        <td>{{const.party}}</td>          
		</tr>
    {% endfor %}
    </ul>
{% else %}
    <p>No details are available.</p>
{% endif %}

</table>